#identité{
  background-color: #2574A9;
  height: 200px;
}
#adresseLiv{
  background-color: #9A12B3;
}
#information{
  background-color: #DB0A5B;
}
fieldset{
}
legend{
  margin-left: 10px;
}
label, input{
  display: inline-block;
}
