#identité{
  background-color: #2574A9;
  width: 100%;
  height: 150px;
}

#adresse{
  background-color: #9A12B3;
  width: 100%;
  height: 200px;
}

#infos{
  background-color: #DB0A5B;
  width: 100%;
  height: 200px;
}
